/* profile.css */

/* Profile Container */
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6f7f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Profile Header */
.profile-header {
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 30px;
}

.profile-header h1 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-right: 20px;
    color: #000;
}


.edit-button {
    padding: 8px 15px;
    background-color: #7aa5d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.home-button {
    float: left;
    margin: 8px;   
    border: none;
    height: 50px;
}

.profile-header p {
    font-size: 16px;
    color: #666;
}

/* Profile Details */
.profile-details {
    margin-top: 30px;
}

    .profile-details h2 {
        font-size: 20px;
        color: #000;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    .profile-details p {
        font-size: 16px;
        color: #666;
        margin-bottom: 10px;
    }

/* Profile Activity */
.profile-activity {
    margin-top: 30px;
}

    .profile-activity h2 {
        font-size: 20px;
        color: #000;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    .profile-activity h3 {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
    }

    .profile-activity ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .profile-activity ul li {
            font-size: 16px;
            color: #666;
            margin-bottom: 5px;
        }
